{{#if widget.cfid}}
  <ul class="metismenu nav nav-pills sidebar-menu nav-stacked" id="widget-cf-menu-admin-{{widget.id}}">
    <li>
      <a href="/event/{{widget.cfid}}/admin"> <i class="fa fa-tachometer"></i> {{t 'event_admin'}} </a>
    </li>
    <li>
      <a href="/event/{{widget.cfid}}/edit?redirectTo={{req.url}}"> <i class="fa fa-pencil-square-o"></i> {{t 'event_admin_edit'}} </a>
    </li>
    <li>
      <a href="/event/{{widget.cfid}}/admin/cfregistration"> <i class="fa fa-user-plus"></i> {{t 'event_admin_registration'}} </a>
    </li>
    <li>
      <a href="/event/{{widget.cfid}}/admin/cfregistrationtype"> <i class="fa fa-user-plus"></i> {{t 'cfregistrationtype.find'}} </a>
    </li>
    <li>
      <a href="/event/{{widget.cfid}}/admin/managers"> <i class="fa fa-user-md"></i> {{t 'event.managers'}} </a>
    </li>
  </ul>
{{/if}}