<form method="post" action="/event/{{event.id}}/admin/cfregistration/create" class="" name="cfregistration" id="cfregistration">

  <div class="form-group">
    <label for="userId">{{t 'form-event-managers-add-idToAdd'}} *</label>
    <select id="userId" name="userId" class="form-control" required="required" ></select>
  </div>

  <div class="form-group">
    <label for="cfregistrationtypeId">{{t 'cfregistrationtype.findOne'}} *</label>
    <select id="cfregistrationtypeId" name="cfregistrationtypeId" class="form-control" required="required" >
      {{#each cfregistrationtypes}}
        <option value="{{id}}">{{name}}</option>
      {{/each}}
    </select>
  </div>

  <input name="status" type="hidden" value="registered">

  <button class="btn btn-primary" type="submit">{{t 'save'}}</button>
</form>

<script>$(document).ready(function() {
  we.components.selectQuery.init('#userId', {
    searchField: 'q',
    cache: true,
    url: function () {
      return '/user';
    },
    processResults: function (data, params) {
      if (!data || !data.user) return {};
      return {
        results: data.user.map(function(r, i) {
          return {
            text: ( r.displayName || r.username || r.id),
            id: r.id
          };
        })
      };
    }
  });
});</script>