{{#if data.specialRequirements}}
  <p><strong>{{t 'form-cfregistration-specialRequirements'}}</strong></p>
  <p>{{data.specialRequirements}}</p>
{{/if}}

{{#with data.user}}
<div>
  <table class="table table-striped table-hover">
    <tbody>
      <tr><th>{{t 'code'}}:</th><td>{{id}}</td></tr>
      <tr><th>{{t 'displayName'}}:</th><td>{{displayName}}</td></tr>
      <tr><th>{{t 'fullName'}}:</th><td>{{fullName}}</td></tr>
      <tr><th>{{t 'email'}}:</th><td>{{email}}</td></tr>
    </tbody>
  </table>
</div>
{{/with}}