<div class="row">
  <div class="col-lg-12 actions">
    {{#link-to 'cfregistration.create' event.id class="btn btn-default"}}
      {{t 'event.register.user'}}
    {{/link-to}}

    {{#link-to 'cfregistration.exportRegistration' event.id class="btn btn-default"}}
      <i class="glyphicon glyphicon-floppy-open"></i>
      {{t 'export'}}
    {{/link-to}}

    {{#link-to 'cfregistration.exportRegistrationUserTags' event.id class="btn btn-default"}}
      <i class="glyphicon glyphicon-th"></i>
      {{t 'event.userTags'}}
    {{/link-to}}

    <form style="display: inline;" action="/event/{{event.id}}/admin/cfregistration/mark-all-as-present" method="post">
      <input type="hidden" name="redirectTo" value="{{req.url}}">
      <button class="btn btn-default btn-sm" type="submit"><span class="glyphicon glyphicon-ok"></span> {{t 'cfcertificationtype.markAllAsPresent'}}</button>
    </form>
  </div>

  <div class="col-lg-12">
    <br>
    <form class="form-inline" method="get">

      <div class="form-group form-group-sm">
        <label>{{t 'id'}}: </label>
        <input class="form-control" type="text" name="id" size="5" value="{{req.query.id}}">
      </div>

      <div class="form-group form-group-sm">
        <label>{{t 'DisplayName'}}: </label>
        <input class="form-control" type="text" name="displayName" value="{{req.query.displayName}}">
      </div>

      <div class="form-group form-group-sm">
        <label>{{t 'Email'}}: </label>
        <input class="form-control" type="email" name="email" value="{{req.query.email}}">
      </div>

      <button class="btn btn-default btn-sm btn-info">{{t 'Search'}}</button>
      <a href="{{req.path}}" class="btn btn-sm btn-default pull-right">{{t 'Reset'}}</a>
    </form>
    <br>
  </div>

  <div class="col-lg-12">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>{{t 'id'}}</th>
          <th>{{t 'userId'}}</th>
          <th>{{t 'name'}}</th>
          <th>{{t 'email'}}</th>
          <th>{{t 'updatedAt'}}</th>
          <th>{{t 'present'}}</th>
          <th>{{t 'actions'}}</th>
        </tr>
      </thead>
      <tbody>
      {{#each data}}
        <tr>
          <td>{{id}}</td>
          <td>{{user.id}}</td>
          <td>{{user.displayName}}</td>
          <td>{{user.email}}</td>
          <td>{{we-date updatedAt}}</td>
          <td>
            {{#if present}}
              <i class="glyphicon glyphicon-check text-success"><span class="sr-only">{{t 'event.present'}}</span></i>
            {{else}}
              <i class="glyphicon glyphicon-uncheck"><span class="sr-only">{{t 'event.not-present'}}</span></i>
            {{/if}}
          </td>
          <td>
            {{#ifCond status 'requested'}}
              {{#link-to 'cfregistration.accept' eventId id class="btn btn-success"}}
                <i class="glyphicon glyphicon-ok"></i>
                {{t 'accept'}}
              {{/link-to}}
            {{/ifCond}}

            {{we-action-view-btn 'cfregistration' this ../req eventId id }}
            {{we-action-delete-btn 'cfregistration' this ../req eventId id }}
          </td>
        </tr>
      {{/each}}
      </tbody>
      <tfoot>
        <tr>
          <td colspan="7">
            <div class="paginate-sumary">
              {{t 'paginate.sumary' recordsLength=data.length count=metadata.count}}
            </div>
            {{paginate count=metadata.count limit=query.limit currentPage=query.page req=req}}
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>