<br>
<br>
<br>
<br>

<p class="text-center bg-warning">{{{t 'conference.registration.unAuthenticated'}}}</p>
<br>
<p class="text-center">
  <a class="btn btn-primary" href="/signup?redirectTo={{req.url}}"><i class="glyphicon glyphicon-plus"></i> {{t 'Register'}}</a>
  <a class="btn btn-default" href="/login?redirectTo={{req.url}}"><i class="glyphicon glyphicon-log-in"></i> &nbsp;{{t 'Login'}}</a>
</p>