<br>
<br>
<br>

<div class="jumbotron">
  <p><strong>{{{t 'event.registration.unAuthenticated'}}}</strong></p>
</div>

<br>
<p class="text-center">
  <a class="btn btn-primary" href="/signup?redirectTo={{req.url}}"><i class="glyphicon glyphicon-plus"></i> {{t 'Register'}}</a>
  <a class="btn btn-default" href="/login?redirectTo={{req.url}}"><i class="glyphicon glyphicon-log-in"></i> &nbsp;{{t 'Login'}}</a>
</p>