<div class="row">
  <div class="col-md-12">
    <div class="jumbotron">
      <h2>{{t 'cfregistration.registered.code.msg'}}: <strong>{{userCfregistration.id}}</strong></h2>
      <br>
      <p>{{#link-to 'cfregistration.unRegister' event.id class="btn btn-default btn-sm text-danger"}}
        <i class="glyphicon glyphicon-remove-sign text-danger"></i> {{t 'cfregistration.un-register'}}
      {{/link-to}}</p>
    </div>
  </div>
</div>

<div class="registration-message">
  {{{event.registeredText}}}
</div>
<br>
{{#if userCfregistration.sessions}}
  <h4>{{t 'cfsession.sessions.registered'}}</h4>
  <table class="table table-bordered">
    <thead>
      <th>{{t 'title'}}</th>
      <th>{{t 'event.startDate'}}</th>
      <th>{{t 'event.endDate'}}</th>
      <th>{{t 'actions'}}</th>
    </thead>
    <tbody>
{{#each userCfregistration.sessions}}
  <tr class="success">
    <td>{{title}}</td>
    <td>{{we-date startDate}}</td>
    <td>{{we-date endDate}}</td>
    </td>
    <td>
      <form method="post" action="/event/{{../event.id}}/unsubscribe-from-session">
        <button class="btn btn-default" onclick="return confirm('{{t 'cfsession.removeRegistration.confirm'}}');"><i class="glyphicon glyphicon-minus text-danger"></i> Cancelar inscrição</button>
        <input type="hidden" name="cfsessionId" value="{{id}}" />
        <input type="hidden" name="redirectTo" value="{{../req.url}}"/>
      </form>
    </td>
  </tr>
{{/each}}
    </tbody>
  </table>
{{/if}}

{{#if sessionsToRegister}}

  <h4>{{t 'cfsession.sessions.to.register'}}</h4>
  <table class="table table-bordered">
    <thead>
      <th>{{t 'title'}}</th>
      <th>{{t 'event.startDate'}}</th>
      <th>{{t 'event.endDate'}}</th>
      <th>{{t 'cfroom.vacancy.avaible'}}</th>
      <th>{{t 'actions'}}</th>
    </thead>
    <tbody>
      {{#each sessionsToRegister}}
        <tr>
          <td>{{title}} - {{t 'cfroom.vacancy.avaible'}}</td>
          <td>{{we-date startDate}}</td>
          <td>{{we-date endDate}}</td>
          <td>
            {{#if haveVacancy}}
              {{subscribers.length}} / {{room.vacancy}}
            {{else}}
              <span class="text-danger">{{subscribers.length}} / {{room.vacancy}}</span>
            {{/if}}
          </td>
          <td>
          {{#if haveVacancy}}
            {{#if conflict}}
              {{t 'cfroom.vacancy.conflict'}}
            {{else}}
              <form method="post" action="/event/{{eventId}}/subscribe-in-session">
                <input type="hidden" name="cfsessionId" value="{{id}}" />
                <input type="hidden" name="redirectTo" value="{{../../../req.url}}"/>
                <button class="btn btn-default" onclick="return confirm('{{t 'cfsession.addRegistration.confirm'}}');">{{t 'Save'}}</button>
              </form>
            {{/if}}
          {{else}}
            {{t 'cfroom.vacancy.full'}}
          {{/if}}
        </tr>
      {{/each}}
    </tbody>

  </table>
{{/if}}
