{{#unless req.query.step}}
  <ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="?step=">{{t 'event.edit.step.about'}}</a></li>
    <li role="presentation"><a href="?step=2">{{t 'event.edit.step.dates'}}</a></li>
    <li role="presentation"><a href="?step=3">{{t 'event.edit.step.visual'}}</a></li>
    <li role="presentation"><a href="?step=4">{{t 'event.edit.step.messages'}}</a></li>
    <li role="presentation"><a href="?step=5">{{t 'event.edit.step.publish'}}</a></li>
  </ul>
  <br>
  {{{form 'event-about' data validationError}}}
{{/unless}}

{{#ifCond req.query.step '2'}}
  <ul class="nav nav-tabs">
    <li role="presentation"><a href="?step=">{{t 'event.edit.step.about'}}</a></li>
    <li role="presentation" class="active"><a href="?step=2">{{t 'event.edit.step.dates'}}</a></li>
    <li role="presentation"><a href="?step=3">{{t 'event.edit.step.visual'}}</a></li>
    <li role="presentation"><a href="?step=4">{{t 'event.edit.step.messages'}}</a></li>
    <li role="presentation"><a href="?step=5">{{t 'event.edit.step.publish'}}</a></li>
  </ul>
  <br>
  {{{form 'event-dates' data validationError}}}
{{/ifCond}}

{{#ifCond req.query.step '3'}}
  <ul class="nav nav-tabs">
    <li role="presentation"><a href="?step=">{{t 'event.edit.step.about'}}</a></li>
    <li role="presentation"><a href="?step=2">{{t 'event.edit.step.dates'}}</a></li>
    <li role="presentation" class="active"><a href="?step=3">{{t 'event.edit.step.visual'}}</a></li>
    <li role="presentation"><a href="?step=4">{{t 'event.edit.step.messages'}}</a></li>
    <li role="presentation"><a href="?step=5">{{t 'event.edit.step.publish'}}</a></li>
  </ul>
  <br>
  {{{form 'event-theme' data validationError}}}
{{/ifCond}}

{{#ifCond req.query.step '4'}}
  <ul class="nav nav-tabs">
    <li role="presentation"><a href="?step=">{{t 'event.edit.step.about'}}</a></li>
    <li role="presentation"><a href="?step=2">{{t 'event.edit.step.dates'}}</a></li>
    <li role="presentation"><a href="?step=3">{{t 'event.edit.step.visual'}}</a></li>
    <li role="presentation" class="active"><a href="?step=4">{{t 'event.edit.step.messages'}}</a></li>
    <li role="presentation"><a href="?step=5">{{t 'event.edit.step.publish'}}</a></li>
  </ul>
  <br>
  {{{form 'event-messages' data validationError}}}
{{/ifCond}}

{{!--
{{#ifCond req.query.step '4'}}
  <ul class="nav nav-tabs">
    <li role="presentation"><a href="?step=">{{t 'event.edit.step.about'}}</a></li>
    <li role="presentation"><a href="?step=2">{{t 'event.edit.step.dates'}}</a></li>
    <li role="presentation"><a href="?step=3">{{t 'event.edit.step.visual'}}</a></li>
    <li role="presentation"><a href="?step=4">{{t 'event.edit.step.messages'}}</a></li>
    <li role="presentation"><a href="?step=5">{{t 'event.edit.step.publish'}}</a></li>
  </ul>
  <br>
  {{{form 'event-emails' data validationError}}}
{{/ifCond}}
 --}}
{{#ifCond req.query.step '5'}}
  <ul class="nav nav-tabs">
    <li role="presentation"><a href="?step=">{{t 'event.edit.step.about'}}</a></li>
    <li role="presentation"><a href="?step=2">{{t 'event.edit.step.dates'}}</a></li>
    <li role="presentation"><a href="?step=3">{{t 'event.edit.step.visual'}}</a></li>
    <li role="presentation"><a href="?step=4">{{t 'event.edit.step.messages'}}</a></li>
    <li role="presentation" class="active"><a href="?step=5">{{t 'event.edit.step.publish'}}</a></li>
  </ul>
  <br>

  <form id="event-publish" name="event-publish" action="" method="POST">
    <div class="we-form-fields"></div>
    <div class="we-form-actions">
      {{#if event.published}}
        <input type="hidden" name="published" value="0">
        <button type="submit" class="btn btn-primary  btn-danger" name="submit" value="unpublish">{{t 'event.edit.unpublish'}}</button>
      {{else}}
        <input type="hidden" name="published" value="1">
        <button type="submit" class="btn btn-primary" name="submit" value="publish">{{t 'event.edit.publish'}}</button>
      {{/if}}
    </div>
  </form>
{{/ifCond}}