<div class="actions">
  {{we-action-create-btn 'event' req}}

  {{#if req.user.id}}
    <a href="?my={{req.user.id}}" class="btn btn-default btn-sm">
      <i class="glyphicon glyphicon-cog"></i> {{t 'event.find.my'}}
    </a>
  {{/if}}
</div>

{{#each record}}
  <div class="event-teaser cf-{{registrationStatus}}">
    <h3>
    {{#link-to 'event.findOne' id}}{{abbreviation}} - {{title}} {{/link-to}}
    </h3>

    <div class="row">
      <div class="col-md-3">
        {{#each logo}}
          <img class="img-responsive" src="{{urls.medium}}" alt="{{../title}} logo">
        {{/each}}

        <div>
          {{#ifCond callForPapersStartDate '0000-00-00 00:00:00'}}{{else}}
            <strong>Envio de trabalhos:</strong> {{we-date callForPapersStartDate 'DD'}} {{t 'date.to'}} {{we-date callForPapersEndDate 'LL'}}<br>
          {{/ifCond}}
          <strong>Inscrições:</strong> {{we-date registrationStartDate 'DD'}} {{t 'date.to'}} {{we-date registrationEndDate 'LL'}} <br>
          <strong>Data do evento:</strong> {{we-date eventStartDate 'DD'}} {{t 'date.to'}} {{we-date eventEndDate 'LL'}}
        </div>
      </div>
      <div class="col-md-9">
        <p>{{{about}}}</p>
        <div></div>
      </div>
    </div>
  </div>
  <hr>
{{else}}

{{/each}}