<div class="actions">
  {{we-action-create-btn 'event' req}}

  {{#if req.user.id}}
    <a href="?my={{req.user.id}}" class="btn btn-default btn-sm">
      <i class="glyphicon glyphicon-cog"></i> {{t 'event.find.my'}}
    </a>
  {{/if}}
</div>

{{#each data}}
  <div class="event-teaser cf-{{registrationStatus}}">
    <h3>
    {{#link-to 'event.findOne' id}}{{title}}{{/link-to}}
    </h3>

    <div class="row">
      <div class="col-md-3">
        {{#each logo}}
          <img class="img-responsive" src="{{urls.medium}}" alt="{{../title}} logo">
        {{/each}}
        <div>
          {{#if callForPapersStartDate}}
            <strong>{{t 'event.callForPapersDates'}}:</strong> {{we-cf-date-range start=callForPapersStartDate end=callForPapersEndDate __=../__}}
            <br>
          {{/if}}
          <strong>{{t 'event.registrationDates'}}:</strong>  {{we-cf-date-range start=registrationStartDate end=registrationEndDate __=../__}}
          <br>
          <strong>{{t 'event.dates'}}:</strong> {{we-cf-date-range start=eventStartDate end=eventEndDate __=../__}}
        </div>
      </div>
      <div class="col-md-9">
        <p>{{{about}}}</p>
        <div></div>
      </div>
    </div>
  </div>
{{else}}

{{/each}}