{{#if locals.req.user.id}}
  <div class="actions events-actions">
    {{we-action-create-btn 'event' locals.req}}
    <a href="?my={{locals.req.user.id}}" class="btn btn-default btn-sm">
      <i class="glyphicon glyphicon-cog"></i> {{t 'event.find.my'}}
    </a>
  </div>
{{/if}}

{{#if widget.terms}}
  <h3 class="events.terms.menu">{{t 'widget.filter.tags.title'}}</h3>
  <ul class="event-terms-menu">
    {{#each widget.terms}}
      {{#ifCond this ../locals.req.query.tag}}
        <li>
          <a href="?tag={{this}}" class="active">
            <i class="fa fa-tag" aria-hidden="true"></i>
            {{this}}
          </a>
        </li>
      {{else}}
        <li>
          <a href="?tag={{this}}">
            <i class="fa fa-tag" aria-hidden="true"></i>
            {{this}}
          </a>
        </li>
      {{/ifCond}}
    {{/each}}
  </ul>
{{/if}}