{{#if locals.req.user.id}}
  <div class="actions events-actions">
    {{we-action-create-btn 'event' locals.req}}
  </div>
{{/if}}

<div class="events-navigation-menu-area">
  <h3 class="events-navigation-menu sr-only">{{t 'widget.event.navigation.menu'}}</h3>
  {{we-menu widget.navigationMenu}}
</div>

{{#if widget.terms}}
<div class="events-terms-menu-area">
  <h3 class="events-terms-menu-title">{{t 'widget.filter.tags.title'}}</h3>
  <ul class="flat-menu event-terms-menu">
    {{#each widget.terms}}
      {{#ifCond this ../locals.req.query.tag}}
        <li>
          <a href="?tag={{this}}" class="active">
            <i class="fa fa-tag" aria-hidden="true"></i>
            {{this}}
          </a>
        </li>
      {{else}}
        <li>
          <a href="?tag={{this}}">
            <i class="fa fa-tag" aria-hidden="true"></i>
            {{this}}
          </a>
        </li>
      {{/ifCond}}
    {{/each}}
  </ul>
</div>
{{/if}}