<p>Hi {{user.displayName}},</p>

<p>Your registration on the <strong>{{conference.title}}</strong> was successful.</p>

<p>Link: {{site.url}}/conference/{{conference.id}}</p>

<p>
Thanks,<br>
{{site.name}}
</p>