<div class="row">
  <div class="col-lg-12">
    {{we-action-create-btn 'cfregistrationtype' req event.id }}
  </div>
  <div class="col-lg-12">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>id</th>
          <th>{{t 'cf.registration.name'}}</th>
          <th>{{t 'requireValidation'}}</th>
          <th>{{t 'actions'}}</th>
        </tr>
      </thead>
      <tbody>
      {{#each data}}
        <tr>
          <td>{{id}}</td>
          <td>{{name}}</td>
          <td>{{#if requireValidation}}true{{else}}false{{/if}}</td>
          <td>
            {{we-action-view-btn 'cfregistrationtype' this ../req ../event.id id }}
            {{we-action-edit-btn 'cfregistrationtype' this ../req ../event.id id }}
            {{we-action-delete-btn 'cfregistrationtype' this ../req ../event.id id }}

            {{#if ../req.we.controllers.cfcertification}}
              {{#link-to 'cfcertification.updateCFRTypeTemplate' eventId id class="btn btn-default btn-sm"}}
                <span class="glyphicon glyphicon-picture"></span> {{t 'Certification'}}
              {{/link-to}}
            {{/if}}
          </td>
        </tr>
      {{/each}}
      </tbody>
    </table>
  </div>
</div>