<table class="table table-striped table-hover">
  <tbody>
      <tr>
        <th>{{t 'id'}}</th>
        <td>{{data.id}}</td>
      </tr>
      <tr>
        <th>{{t 'name'}}</th>
        <td>{{data.name}}</td>
      </tr>
      <tr>
        <th>{{t 'description'}}</th>
        <td>{{{data.description}}}</td>
      </tr>
      <tr>
        <th>{{t 'requireValidation'}}</th>
        <td>{{#if data.requireValidation}}true{{else}}false{{/if}}</td>
      </tr>
      <tr>
        <th>{{t 'createdAt'}}</th>
        <td>{{we-date data.createdAt}}</td>
      </tr>
      <tr>
        <th>{{t 'updatedAt'}}</th>
        <td>{{we-date data.updatedAt}}</td>
      </tr>
  </tbody>
  <tfoot>
    <tr><td colspan="2">
      {{#link-to 'cfregistrationtype.find' event.id class="btn btn-default btn-sm"}}
        <span class="glyphicon glyphicon-arrow-left"></span> {{t 'cfregistrationtype.find'}}
      {{/link-to}}
      {{we-action-edit-btn 'cfregistrationtype' data req event.id data.id }}

      {{#if req.we.controllers.cfcertification}}
        {{#link-to 'cfcertification.updateCFRTypeTemplate' event.id data.id class="btn btn-default btn-sm"}}
          <span class="glyphicon glyphicon-picture"></span> {{t 'Certification'}}
        {{/link-to}}
      {{/if}}
    </td>
  </tr></tfoot>
</table>