<ul class="nav nav-tabs">
  <li role="presentation" class="active">
    {{#link-to 'cfsession.findOne' data.eventId data.id}}
      {{t 'View'}}
    {{/link-to}}
  </li>
  <li role="presentation">
    {{#link-to 'cfsession.subscribers' data.eventId data.id}}
      <i class="fa fa-user-plus"></i> {{t 'cfsession.subscribers'}}
    {{/link-to}}
  </li>
  <li role="presentation">
    {{#link-to 'cfsession.exportSubscribers' data.eventId data.id}}
      <i class="glyphicon glyphicon-floppy-open"></i> {{t 'export'}}
    {{/link-to}}
  </li>
</ul>
<div class="tab-content">
{{#with data}}
  <table class="table table-striped table-hover">
    <tbody>
        <tr>
          <th>id</th>
          <td>{{id}}</td>
        </tr>
        <tr>
          <th>eventId</th>
          <td>{{eventId}}</td>
        </tr>
        <tr>
          <th>title</th>
          <td>{{title}}</td>
        </tr>
        <tr>
          <th>about</th>
          <td>{{{about}}}</td>
        </tr>
        <tr>
          <th>startDate</th>
          <td>{{we-date startDate}}</td>
        </tr>
        <tr>
          <th>endDate</th>
          <td>{{we-date endDate}}</td>
        </tr>
        <tr>
          <th>requireRegistration</th>
          <td>{{requireRegistration}}</td>
        </tr>
        <tr>
          <th>status</th>
          <td>{{status}}</td>
        </tr>
        <tr>
          <th>createdAt</th>
          <td>{{we-date createdAt}}</td>
        </tr>
        <tr>
          <th>updatedAt</th>
          <td>{{we-date updatedAt}}</td>
        </tr>
        <tr>
          <th>topicId</th>
          <td>{{topicId}}</td>
        </tr>
        <tr>
          <th>roomId</th>
          <td>{{roomId}}</td>
        </tr>
        <tr>
          <th>userId</th>
          <td>{{userId}}</td>
        </tr>
        <tr>
          <th>topic</th>
          <td>{{topic.title}}</td>
        </tr>
        <tr>
          <th>room</th>
          <td>{{room.name}}</td>
        </tr>
        <tr>
          <th>user</th>
          <td>{{user.displayName}}</td>
        </tr>
    </tbody>
    <tfoot>
      <tr><td colspan="2">
        {{we-action-edit-btn 'cfsession' this ../req eventId id }}
        {{we-action-delete-btn 'cfsession' this ../req eventId id }}
      </td>
    </tr></tfoot>
  </table>
{{/with}}
</div>
