<!-- ///  begin schedule  /// -->
<div class="schedule" id="schedule">
  <div class="container">
    <div class="section-heading">
      <p class="lead">{{we-date event.eventStartDate 'DD'}} {{t 'date.to'}} {{we-date event.eventEndDate 'LL'}}</p>
    </div>
    <div class="row">
      <div class="col-md-12 actions">{{we-action-create-btn model req event.id}}</div>
      <div class="col-md-12 wow fadeInDown">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs nav-justified">
          {{#each days}}
            <li {{#if active}}class="active"{{/if}} ><a href="#day-{{@index}}" data-toggle="tab">{{text}}</a></li>
          {{/each}}
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
          {{#each days}}
            <div class="tab-pane {{#if active}}active{{/if}}" id="day-{{@index}}">
              <div class="panel-group" id="day-{{@index}}-ac">
                {{#each cfsession}}
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#day-{{@index}}-ac" href="#cfsession-{{id}}">
                          {{we-date startDate 'hh:mm a'}} - {{we-date startDate 'hh:mm a'}}, {{title}} <i class="glyphicon glyphicon-plus"></i> &nbsp;
                        </a>
                      </h4>
                    </div>
                    <div id="cfsession-{{id}}" class="panel-collapse collapse">
                      <div class="panel-body">
                        <h4>{{title}}</h4>
                        <div class="cfsession-about">
                          {{#each picture}}{{we-image this 'medium' class="thumbnail cfsession-picture"}}{{/each}}
                          {{{about}}}
                        </div>
                        <div class="actions">
                          {{we-action-edit-btn 'cfsession' this ../../req eventId id}}
                          {{we-action-delete-btn 'cfsession' this ../../req eventId id}}
                        </div>
                      </div>
                    </div>
                  </div>
                {{/each}}
              </div>
            </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ///  end schedule  /// -->