<ul class="nav nav-tabs">
  <li role="presentation">
    {{#link-to 'cfsession.findOne' data.eventId data.id}}
      {{t 'View'}}
    {{/link-to}}
  </li>
  <li role="presentation" class="active">
    {{#link-to 'cfsession.subscribers' data.eventId data.id}}
      <i class="fa fa-user-plus"></i> {{t 'cfsession.subscribers'}}
    {{/link-to}}
  </li>
  <li role="presentation">
    {{#link-to 'cfsession.exportSubscribers' data.eventId data.id}}
      <i class="glyphicon glyphicon-floppy-open"></i> {{t 'export'}}
    {{/link-to}}
  </li>
</ul>
<div class="tab-content">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>{{t 'userId'}}</th>
        <th>{{t 'displayName'}}</th>
        <th>{{t 'fullName'}}</th>
        <th>{{t 'email'}}</th>
        <th>{{t 'createdAt'}}</th>
      </tr>
    </thead>
    <tbody>
      {{#each data.subscribers}}
        <tr>
          <td>{{id}}</td>
          <td>{{user.id}}</td>
          <td>{{user.displayName}}</td>
          <td>{{user.fullName}}</td>
          <td>{{user.email}}</td>
          <td>{{we-date createdAt}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>