<div class="row">
  <div class="col-lg-12 actions">{{we-action-create-btn 'user.cfsession' req event.id req.user.id }}</div>
</div>

<table class="table table-striped table-hover">
  <thead>
    <th>id</th>
    <th>{{t 'title'}}</th>
    <th>{{t 'status'}}</th>
    <th>{{t 'topic'}}</th>
    <th>{{t 'actions'}}</th>
  </thead>
  <tbody>
    {{#each data}}
      <tr>
        <td>{{id}}</td>
        <td>{{title}}</td>
        <td>{{status}}</td>
        <th>{{topic.title}}</th>
        <td>
          {{we-action-view-btn 'user.cfsession' this ../req eventId userId id }}
          {{we-action-edit-btn 'user.cfsession' this ../req eventId userId id }}
          {{we-action-delete-btn 'user.cfsession' this ../req eventId userId id }}
        </td>
      </tr>
    {{else}}
      <tr><td colspan="3" class="text-center">{{t 'event.topic.empty'}}</td></tr>
    {{/each}}
  </tbody>
</table>

<div class="row">

</div>