{{#each record}}
<article class="teaser">
  {{#each picture}}{{{we-image this 'thumbnail' class="article-featured-image thumbnail"}}}{{/each}}

  <h3 class="teaser-title">{{#link-to 'cfkeynote.findOne' conferenceId id}}{{name}}{{/link-to}}</h3>

  {{{about}}}

  <div class="clearfix"></div>
  <footer class="article-actions">
    {{we-action-edit-btn 'cfkeynote' this ../req conferenceId id }}

{{!--     {{#link-to 'cfkeynote.edit' conferenceId id class="btn btn-default"}}
     <i class="glyphicon glyphicon-edit"></i> {{t 'Edit'}}
    {{/link-to}} --}}
  </footer>
</article>
{{else}}
  <p> {{t 'conference.cfkeynote.empty'}}</p>
{{/each}}