<div class="row">
  <div class="col-lg-12 actions">
    {{we-action-create-btn model req event.id}}
  </div>
  <div class="col-lg-12">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>{{t 'id'}}</th>
          <th>{{t 'name'}}</th>
          <th>{{t 'vacancy'}}</th>
          <th>{{t 'actions'}}</th>
        </tr>
      </thead>
      <tbody>
        {{#each data}}
          <tr>
            <td>{{id}}</td>
            <td>{{name}}</td>
            <td>{{vacancy}}</td>
            <td>
              {{#link-to 'cfroom.edit' eventId id class="btn btn-primary btn-sm"}}{{t 'Edit'}}{{/link-to}}
              {{#link-to 'cfroom.delete' eventId id class="btn btn-default btn-sm"}}{{t 'Delete'}}{{/link-to}}
            </td>
          </tr>
        {{else}}
          <tr><td colspan="3" class="text-center">{{t 'event.cfroom.empty'}}</td></tr>
        {{/each}}
      </tbody>
      <tfoot>
        <tr>
          <td colspan="4">
            <div class="paginate-sumary">
              {{t 'paginate.sumary' recordsLength=data.length count=metadata.count}}
            </div>

            {{paginate count=metadata.count limit=query.limit currentPage=query.page req=req}}
          </td>
        </tr>
      </tfoot>
    </table>

  </div>
</div>