{{#unless req.query.step}}
  <ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="?step=">{{t 'conference.edit.step.about'}}</a></li>
    <li role="presentation"><a href="?step=2">{{t 'conference.edit.step.dates'}}</a></li>
    <li role="presentation"><a href="?step=3">{{t 'conference.edit.step.visual'}}</a></li>
    <li role="presentation"><a href="?step=4">{{t 'conference.edit.step.publish'}}</a></li>
  </ul>
  <br>
  {{{form 'conference-about' record validationError}}}
{{/unless}}

{{#ifCond req.query.step '2'}}
  <ul class="nav nav-tabs">
    <li role="presentation"><a href="?step=">{{t 'conference.edit.step.about'}}</a></li>
    <li role="presentation" class="active"><a href="?step=2">{{t 'conference.edit.step.dates'}}</a></li>
    <li role="presentation"><a href="?step=3">{{t 'conference.edit.step.visual'}}</a></li>
    <li role="presentation"><a href="?step=4">{{t 'conference.edit.step.publish'}}</a></li>
  </ul>
  <br>
  {{{form 'conference-dates' record validationError}}}
{{/ifCond}}

{{#ifCond req.query.step '3'}}
  <ul class="nav nav-tabs">
    <li role="presentation"><a href="?step=">{{t 'conference.edit.step.about'}}</a></li>
    <li role="presentation"><a href="?step=2">{{t 'conference.edit.step.dates'}}</a></li>
    <li role="presentation" class="active"><a href="?step=3">{{t 'conference.edit.step.visual'}}</a></li>
    <li role="presentation"><a href="?step=4">{{t 'conference.edit.step.publish'}}</a></li>
  </ul>
  <br>
  {{{form 'conference-theme' record validationError}}}
{{/ifCond}}
{{!--
{{#ifCond req.query.step '4'}}
  <ul class="nav nav-tabs">
    <li role="presentation"><a href="?step=">{{t 'conference.edit.step.about'}}</a></li>
    <li role="presentation"><a href="?step=2">{{t 'conference.edit.step.dates'}}</a></li>
    <li role="presentation"><a href="?step=3">{{t 'conference.edit.step.visual'}}</a></li>
    <li role="presentation"><a href="?step=4">{{t 'conference.edit.step.publish'}}</a></li>
  </ul>
  <br>
  {{{form 'conference-emails' record validationError}}}
{{/ifCond}}
 --}}
{{#ifCond req.query.step '4'}}
  <ul class="nav nav-tabs">
    <li role="presentation"><a href="?step=">{{t 'conference.edit.step.about'}}</a></li>
    <li role="presentation"><a href="?step=2">{{t 'conference.edit.step.dates'}}</a></li>
    <li role="presentation"><a href="?step=3">{{t 'conference.edit.step.visual'}}</a></li>
    <li role="presentation" class="active"><a href="?step=4">{{t 'conference.edit.step.publish'}}</a></li>
  </ul>
  <br>

  <form id="conference-publish" name="conference-publish" action="" method="POST">
    <div class="we-form-fields"></div>
    <div class="we-form-actions">
      {{#if conference.published}}
        <input type="hidden" name="published" value="0">
        <button type="submit" class="btn btn-primary  btn-danger" name="submit" value="unpublish">{{t 'conference.edit.unpublish'}}</button>
      {{else}}
        <input type="hidden" name="published" value="1">
        <button type="submit" class="btn btn-primary" name="submit" value="publish">{{t 'conference.edit.publish'}}</button>
      {{/if}}
    </div>
  </form>
{{/ifCond}}