<div class="actions">
{{we-action-create-btn 'conference' req}}
</div>

{{#each record}}
  <div class="conference-teaser cf-{{registrationStatus}}">
    <h3>
    {{#link-to 'conference.findOne' id}}{{title}}{{/link-to}}
    </h3>
    <p>{{{about}}}</p>
    <div></div>
    <div>{{we-date eventStartDate}} {{we-date eventEndDate}}</div>
  </div>
  <hr>
{{else}}

{{/each}}