<div class="row">
  <div class="col-lg-12">
    {{{form-model 'cfmenu' data validationError}}}
  </div>
</div>

<hr>

<h3>{{t 'Links'}}</h3>
<div class="row">
  <div class="col-lg-12 actions">
    <a class="btn btn-default" href="/event/{{event.id}}/admin/menu/{{data.id}}/add-link">{{t 'Add'}}</a>
  </div>
  <div class="col-lg-12">
    <form class="cflinkOrderForm" action="/event/{{event.id}}/admin/menu/{{data.id}}/sort-links" method="POST">

      {{#tabledrag id='cflinkTable' menu=data}}
        <tr class="draggable">
          <td>{{tabledrag-indentation depth=depth}}
            {{{text}}}
            <input class="id" name="link-{{id}}-id" value="{{id}}" type="hidden" />
            <input class="row-depth" name="link-{{id}}-depth" value="{{depth}}" type="hidden" />
          </td>
          <td>
            <input class="row-weight" name="link-{{id}}-weight" type="text" value="{{weight}}">
          </td>
          <td>
            <input class="row-parent" name="link-{{id}}-parent" type="text" value="{{parent}}">
          </td>
          <td>
            <a href="/event/{{eventId}}/admin/menu/{{cfmenuId}}/link/{{id}}?redirectTo={{../req.url}}" class="btn btn-primary btn-sm">
                {{t 'edit'}}
            </a>  <a href="/event/{{eventId}}/admin/menu/{{cfmenuId}}/link/{{id}}/delete?redirectTo={{../req.url}}" class="btn btn-default btn-sm">
                {{t 'delete'}}
            </a>
          </td>
        </tr>
      {{/tabledrag}}

      <div class="actions">
        <button class="btn btn-primary">{{t 'order.save.btn'}}</button>
      </div>
      <input name="redirectTo" type="hidden" value="{{req.url}}">
    </form>
  </div>
</div>