<div class="row">
  <div class="col-lg-12">
    <a class="btn btn-default" href="/conference/{{conference.id}}/admin/menu/create">{{t 'Create'}}</a>
  </div>
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <table id="my-table">
          <thead>
            <tr>
              <th we-model-attr="id">id</th>
              <th we-model-attr="name">name</th>
              <th we-model-attr="links">links</th>
              <th we-model-attr="class">class</th>
            </tr>
          </thead>
          <tbody>
          {{#each record}}
            <tr class="draggable">
              <td>{{id}}</td>
              <td>{{name}}</td>
              <td>{{links}}
                <input class="person-id" name="person-{{id}}-id" value="person-{{id}}" type="hidden" />
                <input class="row-depth" name="person-{{id}}-depth" value="{{id}}" type="hidden" />
              </td>
              <td>
                <select class="row-weight" name="person-{{id}}-id" value="person-{{id}}" type="hidden" >
                  {{#each ../record}}
                    <option value="{{../id}}">{{../id}}</option>
                  {{/each}}
                </select>
              </td>
              <td>{{class}}</td>
            </tr>
          {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  {{#template 'btn-modal-save'}}{{/template}}
</div>
<script type="text/javascript">
  $(document).ready(function() {
    we.components.tableDrag("#my-table")
  });
</script>