<div class="row">
  <div class="col-lg-12">
    {{we-action-create-btn model req event.id}}
  </div>
</div>

{{#each record}}
<article class="teaser">
  {{#each logo}}{{{we-image this 'thumbnail' class="article-featured-image thumbnail"}}}{{/each}}

  <h3 class="teaser-title">{{#link-to 'cfpartner.findOne' eventId id}}{{name}}{{/link-to}}</h3>

  {{{about}}}

  <div class="clearfix"></div>
  <footer class="article-actions">
    {{we-action-edit-btn ../model this ../req eventId id }}
    {{we-action-delete-btn ../model this ../req eventId id }}
  </footer>
</article>
{{else}}
  <p> {{t 'event.cfpartner.empty'}}</p>
{{/each}}