<div class="actions">
  {{we-action-create-btn model req event.id}}
</div>

{{#if data}}
  <div class="cfpartner text-center">
    {{#we-grid items=data cols=3}}
        <div class="icon-wrap">
          {{#each logo}}
            {{{we-image this 'medium' class="thumbnail"}}}
          {{/each}}
        </div>
        <h3 class="cfpartner-name">
          {{name}}
        </h3>
        <div class="actions">
          {{we-action-edit-btn 'cfpartner' this ../req eventId id }}
          {{we-action-delete-btn 'cfpartner' this ../req eventId id }}
        </div>
    {{/we-grid}}
  </div>
{{else}}
  <p> {{t 'event.cfpartner.empty'}}</p>
{{/if}}
