<article class="full">
  <header>
    <div class="article-meta">
      {{t 'Updated at'}} <time datetime="{{data.createdAt}}"><strong>{{we-date data.updatedAt}}</strong></time>
      {{#each data.categories}} {{t 'category'}}: <strong>{{this}}</strong>{{/each}}
    </div>
  </header>

  <div class="full-video-area">
    <iframe width="560" height="315" src="{{data.embedUrl}}" frameborder="0" allowfullscreen></iframe>
  </div>

  <div class="article-content">{{{data.description}}}</div>

  <footer>
    <div class="row"><div class="col col-md-12">{{{we-terms data.tags}}}</div></div>

    <div class="row actions">
      <div class="col col-md-12">
        {{we-action-edit-btn model data req data.eventId data.id }}
        {{we-action-delete-btn model data req data.eventId data.id }}
      </div>
    </div>
  </footer>
</article>