<form we-submit="ajax" action="/conference/{{conference.id}}/admin/edit" method="post">
<legend>{{t 'conference.structure.menus'}}</legend>
  <div class="form-group">
    <label for="conferenceMainMenu" class="col-sm-2 control-label">{{t 'menu.main'}}:</label>
    <div class="col-sm-10">
      <select id="conferenceMainMenu" name="mainMenuId" class="form-control">
        {{#each record}}
          {{#ifCond id ../conference.mainMenu.id}}
            <option selected value="{{id}}">{{name}}</option>
          {{else}}
            <option value="{{id}}">{{name}}</option>
          {{/ifCond}}
        {{/each}}
      </select>
    </div>
  </div>

  <br><br>

  <div class="form-group">
    <label for="conferenceSecondaryMenu" class="col-sm-2 control-label">{{t 'menu.secondary'}}:</label>
    <div class="col-sm-10">
      <select id="conferenceSecondaryMenu" name="secondaryMenuId" class="form-control">
        {{#each record}}
          {{#ifCond id ../conference.secondaryMenu.id}}
            <option selected value="{{id}}">{{name}}</option>
          {{else}}
            <option value="{{id}}">{{name}}</option>
          {{/ifCond}}
        {{/each}}
      </select>
    </div>
  </div>

  <br><br>

  <div>
    <button type="submit" class="btn btn-default pull-right">{{t 'Save'}}</button>
  </div>
</form>

<div class="clearfix"></div>

<hr>

<div class="row">
  <div class="col-lg-12">
    {{#link-to 'cfmenu.create' conference.id class='btn btn-default'}}{{t 'Create'}}{{/link-to}}
  </div>
  <div class="col-lg-12">

    <div class="panel panel-default">
      <div class="panel-body">

        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th we-model-attr="id">id</th>
              <th we-model-attr="name">{{t 'name'}}</th>
              <th we-model-attr="actions">{{t 'actions'}}</th>
            </tr>
          </thead>
          <tbody>
          {{#each record}}
            <tr>
              <td>{{id}}</td>
              <td>{{name}}</td>
              <td>
                {{#link-to 'cfmenu.edit' conferenceId id class='btn btn-primary btn-sm'}}{{t 'Edit'}}{{/link-to}}
                {{#link-to 'cfmenu.delete' conferenceId id class='btn btn-default btn-sm'}}{{t 'Delete'}}{{/link-to}}
              </td>
            </tr>
          {{else}}
            <tr><td colspan="3" class="text-center">{{t 'conference.menu.empty'}}</td></tr>
          {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
