<div class="row">
  <div class="col-md-12 actions">
    {{#link-to 'cftopic.create' conference.id class="btn btn-default" }}{{t 'Create'}}{{/link-to}}
  </div>
</div>

<table class="table table-striped table-hover">
  <thead>
    <th>id</th>
    <th>{{t 'title'}}</th>
    <th>{{t 'actions'}}</th>
  </thead>
  <tbody>
    {{#each record}}
      <tr>
        <td>{{id}}</td>
        <td>{{title}}</td>
        <td>
          {{#link-to 'cftopic.edit' conferenceId id class="btn btn-primary btn-sm"}}{{t 'Edit'}}{{/link-to}}
          {{#link-to 'cftopic.delete' conferenceId id class="btn btn-default btn-sm"}}{{t 'Delete'}}{{/link-to}}
        </td>
      </tr>
    {{else}}
      <tr><td colspan="3" class="text-center">{{t 'conference.topic.empty'}}</td></tr>
    {{/each}}
  </tbody>
</table>

<div class="row">

</div>