{{#each data.regions}}
  <div class="panel panel-default">
    <div class="panel-heading">{{this.name}}</div>
    <div class="panel-body">
      <table we-sortable-table="true" class="table table-striped table-bordered table-hover sorted_table" id="TableWidgetRegion-{{this.name}}">
        <thead>
          <tr>
            <th></th>
            <th>ID</th>
            <th>Title</th>
            <th>Widget Name</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody class="ui-sortable">
          {{#each widgets}}
            <tr model-widget="{{id}}" class="ui-state-default ui-sortable-handle" model-id="{{id}}" data-weight="{{weight}}">
              <td style="width: 30px; cursor: move;"><span class="glyphicon glyphicon-resize-vertical"></span></td>
              <td><bind model-widget-{{id}}="id">{{id}}</bind></td>
              <td><bind model-widget-{{id}}="title">{{title}}</bind></td>
              <td><bind model-widget-{{id}}="type">{{type}}</bind></td>
              <td>
                <button we-action="event" event="update-widget-modal" model-id="{{id}}" type="button" class="btn btn-primary">Edit</button>
                <a href="" we-action="event" event="model-delete-widget" model="widget" model-id="{{id}}" class="btn btn-default">Delete</a>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
{{else}}
  No regions found
{{/each}}

<div class="panel panel-default">
  <div class="panel-heading">{{t 'Widgets'}}</div>
  <div class="panel-body">

    <div>
      <table class="table table-striped table-bordered table-hover" id="conferenceAdminWidget">
        <thead>
          <tr>
            <th>{{t 'widget.name'}}</th>
            <th>{{t 'Regions'}}</th>
          </tr>
        </thead>
        <tbody>
          {{#each data.widgets}}
            <tr>
              <td>{{type}}</td>
              <td>
                <form id="form-add-region-to-{{@key}}" name="layout-widget-selector" onsubmit="return we.structure.openWidgetForm(event);" class="form-inline" we-form-widget-url="/conference/{{../conference.id}}/admin/widget/create">
                  <span>Add in regions:</span>
                  <input type="hidden" name="type" value="{{type}}" />
                  <input type="hidden" name="theme" value="{{../data.themeName}}" />
                  <input type="hidden" name="layout" value="{{../data.layout}}" />
                  <input type="hidden" name="context" value="{{../widgetContext}}" />

                  <select name="regionName" class="form-control">
                    {{#each ../data.regions}}
                      <option value="{{@key}}"> {{this.name}}</option>
                    {{/each}}
                  </select>
                  <button class="btn btn-default">Add</button>
                </form>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(function() {
    we.admin.layouts.widgetTableSorter('table[we-sortable-table="true"] > tbody');
  });
</script>