{{#each cfmenu}}
  <div class="panel panel-default">
    <div class="panel-heading cf-admin-menu-title" data-toggle="collapse" data-target="#conferenceAdminMenu-{{name}}-area">
      <span class="glyphicon glyphicon glyphicon-th-list"></span> &nbsp; {{name}}
    </div>
    <div id="conferenceAdminMenu-{{name}}-area" class="panel-body collapse">
      <table class="table table-striped table-bordered table-hover" id="conferenceAdminMenu-{{name}}">
        <thead>
          <tr>
            <th></th>
            <th>Text</th>
            <th>Path</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {{#each links}}
            <tr>
              <td></td>
              <td>{{t text}}</td>
              <td>{{path}}</td>
              <td></td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
{{else}}
  <p>{{t 'conference.admin.menu.empty'}}</p>

{{/each}}

<p>{{#link-to 'conference_admin_reset' conference.id}}{{t 'conference.menu.reset'}}{{/link-to}}</p>