<div class="row"><div class="col-lg-12 actions">{{we-action-create-btn model req conference.id}}</div></div>

{{#each record}}
<article class="teaser">
  <div class="article-meta">
    {{t 'Updated at'}} <time datetime="{{createdAt}}"><strong>{{we-date updatedAt}}</strong></time> -
    {{#each categories}} {{t 'category'}}: <strong>{{this}}</strong>{{/each}}
  </div>

  {{#each featuredImage}}{{{we-image this 'thumbnail' class="article-featured-image thumbnail"}}}{{/each}}

  <h2 class="teaser-title">{{#link-to 'cfpage.findOne' conferenceId id}}{{title}}{{/link-to}}</h2>

  {{{teaser}}}

  <div class="clearfix"></div>
  <footer class="article-actions">
    {{we-action-view-btn 'cfpage' this ../req conferenceId id }}
    {{we-action-edit-btn 'cfpage' this ../req conferenceId id }}
    {{we-action-delete-btn 'cfpage' this ../req conferenceId id }}
  </footer>
</article>
{{else}}
  <p> {{t 'conference.cfpage.empty'}}</p>
{{/each}}