<article class="full">
  <header>
    <div class="article-meta">
      {{t 'Updated at'}} <time datetime="{{data.createdAt}}"><strong>{{we-date data.updatedAt}}</strong></time>
      {{#each data.categories}} {{t 'category'}}: <strong>{{this}}</strong>{{/each}}
    </div>
  </header>

  <div class="article-content">
    {{#each data.featuredImage}}{{{we-image this 'medium' class="article-featured-image thumbnail"}}}{{/each}}
    {{{data.text}}}

    {{{data.body}}}
  </div>

  <footer>
    <div class="actions">
      {{we-action-edit-btn model data req data.eventId data.id }}
      {{we-action-delete-btn model data req data.eventId data.id }}
    </div>
  </footer>
</article>