{{#ifCond locals.cfregistrationtypes.length 1}}
  {{#each locals.cfregistrationtypes}}
    <p>{{{description}}}</p>
    <input type="hidden" name="{{../name}}" id="{{../fieldId}}" value="{{id}}">
  {{/each}}
{{else}}

<div class="form-group {{#if error}}has-error has-feedback{{/if}}">

<h4>{{t 'event.registration.type.selector'}}</h4>

<div id="{{fieldId}}" class="tabbable tabs-left">

  <ul class="nav nav-tabs " role="tablist">
    {{#each locals.cfregistrationtypes}}
      <li role="presentation" {{#if checked}}class="active"{{/if}}>
        <a href="#{{fieldId}}-tab" aria-controls="{{fieldId}}-tab" role="tab" data-toggle="tab" we-parent-radius >
          <input type="radio" name="{{../name}}" id="{{fieldId}}{{id}}" value="{{id}}"
            {{#if checked}}checked="checked"{{/if}}
          > {{name}}
        </a>
      </li>
    {{/each}}
  </ul>

  <div class="tab-content">
    {{#each locals.cfregistrationtypes}}
      <div role="tabpanel" class="tab-pane {{#if checked}}active{{/if}}" id="{{fieldId}}-tab">{{{description}}}</div>
    {{/each}}
  </div>
</div>

<div class="clearfix class-cf-type-separator"></div>

<script>$(function() {
  // change the select value on link click
  $('#{{fieldId}} a[we-parent-radius]').click(function() {
    this.children[0].checked = true;
  });
});</script>

{{{field-help-error error}}}
</div>
<br>

{{/ifCond}}


