<div class="form-group {{#if error}}has-error has-feedback{{/if}}">
  <label for="{{fieldId}}">{{t fieldName}} {{#ifCond field.allowNull false}}*{{/ifCond}}</label>
  {{{field-help-error error}}}

  <select id="{{fieldId}}" name="roomId"
    class="form-control" {{fieldAttrs}}
    {{#if field.formFieldMultiple}}multiple="multiple"{{/if}}>
    {{#if values.room}}
      <option value="{{values.room.id}}">{{values.room.name}}</option>
    {{/if}}
  </select>

  <p class="help-block">{{t help}}</p>
  {{{field-help-error error}}}
</div>

<script>$(document).ready(function() {
  we.components.select.init('#{{fieldId}}', {
    searchField: 'name',
    cache: true,
    url: function () {
      return '/event/{{locals.event.id}}/cfroom';
    },
    processResults: function (data, params) {
      if (!data || !data.cfroom) return {};
      return {
        results: data.cfroom.map(function(r, i) {
          return { text: r.name, id: r.id };
        })
      };
    }
  });
});</script>