<div class="form-group {{#if error}}has-error has-feedback{{/if}}">
  <label for="{{fieldId}}">{{t fieldName}} {{#ifCond field.allowNull false}}*{{/ifCond}}</label>
  {{{field-help-error error}}}

  <select id="{{fieldId}}" name="topicId"
    class="form-control" {{fieldAttrs}}
    {{#if field.formFieldMultiple}}multiple="multiple"{{/if}}>
      <option value="">{{t 'select.option.text'}}</option>
      {{#each locals.event.topics}}
        {{#ifCond id ../values.topicId}}
          <option value="{{id}}" selected="selected">{{title}}</option>
        {{else}}
          <option value="{{id}}">{{title}}</option>
        {{/ifCond}}
      {{/each}}
  </select>

  <p class="help-block">{{t help}}</p>
  {{{field-help-error error}}}
</div>