<div class="actions">
  {{we-action-create-btn model req event.id}}
</div>


{{#if data}}
  <div class="cfspeaker text-center">
    {{#we-grid items=data cols=3}}
        <div class="icon-wrap">
          {{#each picture}}
            {{{we-image this 'medium' class="thumbnail"}}}
          {{/each}}
        </div>
        <h3>{{name}}</h3>
        <div>{{{about}}}</div>
        <div class="actions">
          {{we-action-edit-btn 'cfspeaker' this ../req eventId id }}
          {{we-action-delete-btn 'cfspeaker' this ../req eventId id }}
        </div>
    {{/we-grid}}
  </div>
{{else}}
  <p> {{t 'event.cfspeaker.empty'}}</p>
{{/if}}
