<div class="row"><div class="col-lg-12 actions">{{we-action-create-btn model req event.id}}</div></div>

{{#each data}}
<article class="teaser">
  <div class="article-meta">
    {{t 'Updated at'}} <time datetime="{{createdAt}}"><strong>{{we-date updatedAt}}</strong></time>  {{#each categories}} {{t 'category'}}: <strong>{{this}}</strong>{{/each}}
  </div>

  {{#each featuredImage}}{{{we-image this 'medium' class="article-featured-image thumbnail"}}}{{/each}}

  <h2 class="teaser-title">{{#link-to 'cfnews.findOne' eventId id}}{{title}}{{/link-to}}</h2>

  {{{teaser}}}

  <div class="clearfix"></div>
  <footer class="article-actions">
    {{we-action-view-btn 'cfnews' this ../req eventId id }}
    {{we-action-edit-btn 'cfnews' this ../req eventId id }}
    {{we-action-delete-btn 'cfnews' this ../req eventId id }}
  </footer>
</article>
{{else}}
  <p> {{t 'event.cfnews.empty'}}</p>
{{/each}}