<article>
  <header>
    <div class="article-meta">
      {{t 'Updated at'}} <time datetime="{{record.createdAt}}"><strong>{{we-date record.updatedAt}}</strong></time> -
      {{#each record.categories}} {{t 'category'}}: <strong>{{this}}</strong>{{/each}}
    </div>

  </header>

  {{#each record.featuredImage}}{{{we-image this 'medium' class="article-featured-image thumbnail"}}}{{/each}}
  {{{record.text}}}

  <footer>
    <div class="row"><div class="col col-md-12">{{{we-terms record.tags}}}</div></div>
    <div class="row actions"><div class="col col-md-12">
      {{we-action-edit-btn model record req record.conferenceId id }}
      {{we-action-delete-btn model record req record.conferenceId id }}
    </div></div>
  </footer>

</article>