{{#if widget.cfid}}
<ul class="metismenu nav nav-pills sidebar-menu nav-stacked" id="widget-cf-menu-content-{{widget.id}}">
  <li>
    <a href="/event/{{widget.cfid}}/admin/topic"> <i class="fa fa-tags"></i> {{t 'cftopic.managePage'}} </a>
  </li>
  <li>
    <a href="/event/{{widget.cfid}}/admin/news"> <i class="fa fa-rss"></i> {{t 'event_findOne.news_manage'}} </a>
  </li>
  <li>
    <a href="/event/{{widget.cfid}}/admin/room"> <i class="fa fa-tasks"></i> {{t 'event_findOne.room_manage'}} </a>
  </li>
  <li>
    <a href="/event/{{widget.cfid}}/admin/cfsession"> <i class="fa fa-users"></i> {{t 'event.cfsession'}} </a>
  </li>
  <li>
    <a href="/event/{{widget.cfid}}/cfspeaker"><i class="fa fa-microphone"></i> {{t 'event.cfspeaker'}}</a>
  </li>
  <li>
    <a href="/event/{{widget.cfid}}/cfpartner"><i class="fa fa-usd"></i> {{t 'cfpartner.find'}}</a>
  </li>
  <li>
    <a href="/event/{{widget.cfid}}/cfvideo"><i class="fa fa-video-camera"></i> {{t 'cfvideo.find'}}</a>
  </li>
  <li>
    <a href="/event/{{widget.cfid}}/admin/cfcontact"> <i class="fa fa-life-ring"></i> {{t 'event.contact'}}</a>
  </li>
</ul>
{{/if}}